body {
  margin: 0;
}

p {
  padding: 0 !important;
  margin: 0 !important; 
}

.page {
  /* background-color: #E8F8FC; */
  /* background-image: url('../public/bgg.png'); */
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.page1 {
  /* background-color: #E8F8FC; */
  background-image: url('../public/bgg.png');
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.page2 {
  /* background-color: #E8F8FC; */
  height: auto;
  width: 100vw;
  margin: 0px;
}

.fontTop {
  color: #12229D;
  text-shadow: 5px 5px #BDE2FF;
  font-weight: bold;
}

.fontTop p {
  margin: 0;
}

.bgFunct {
  display: flex;
  justify-content: center;
  background-color: #0BA1DD;
  color: white;
  width: fit-content;
  min-width: 40%;
  padding: 15px;
  font-weight: bold;
  font-size: 22px;
  border: solid;
  border-color: #0BA1DD;
  border-radius: 50px;
  box-shadow: 10px 10px #2155CD;
}

.bgFunct2 {
  display: flex;
  justify-content: center;
  background-color: #0BA1DD;
  color: white;
  width: fit-content;
  min-width: 70%;
  padding: 15px;
  font-weight: bold;
  font-size: 22px;
  border: solid;
  border-color: #0BA1DD;
  border-radius: 50px;
  box-shadow: 10px 10px #2155CD;
}